{% extends 'base.html.twig' %}

{% block title %}Accueil | Stackoverflow
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}

	<h1 class="text-center">Top Question</h1>

	{% if app.user %}
	<div class="col-md-6 m-auto py-4">
		{{form_start(form)}}
		{{form_end(form)}}
	</div>
	{% endif %}


	{% for post in posts %}
		<div class="containerQuestion">

            <div class="left">
                <p>{{post.createdAt|date('d-m-Y H:i:s')}}</p>
            </div>

            <div class="right">
                <a href="{{path("show_post",{'id': post.id})}}">{{post.title}}</a>

                <div class="infoFlex">
                    <button class="btn btn-primary tag">{{post.user.username}}</button>
                </div>

            </div>

        </div>
        <div class="line"></div>

	{% endfor %}


{% endblock %}
